* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}


body {
	margin: 0;
    background-color: #607795;
}

.container {

	display: flex;
}

.left-section {
	flex: 1;
	padding: 20px;
}

.right-section {
	flex: 0.5;
	padding: 20px;
}

.profile-info {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.profile-info img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 20px;
}

.info h2 {
	margin: 0;
}

.user-stats {
	margin-bottom: 20px;
}

.user-stats p {
	margin: 0;
}

.user-photos {
	margin-bottom: 20px;
}

.user-photos table {
	width: 100%;
}

.user-photos td {
	width: 33.33%;
	text-align: center;
	padding: 10px;
}

.user-photos img {
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.search-box {
	position: relative;
}
    .search-box input {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .search-results {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        display: none;
    }
    
    .search-results ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .search-results li {
        padding: 10px;
        cursor: pointer;
    }
    
    .search-results li:hover {
        background-color: #f2f2f2;
    }
    
    .search-results.show {
        display: block;
    }
    .container {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .profile-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-info img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
        border-radius: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .user-stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        border: 10px solid #69656550;
        padding: 10px;
        border-radius: 25px;
    }

    .user-stats p {
       margin-left: 10px;
       margin-right: 10px;
    }

    .user-photos table {
        margin-top: 20px;
        border-collapse: collapse;
    }

    .user-photos td {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .user-photos img {
        width: 100%;
        height: auto;
    }

    .btn-outline-success {
        margin-left: 10px;
    }
      

    .account-settings {
        margin-top: 20px;
        margin-left: 0px;
      }

      .follow-button {
        margin-top: 20px;
        margin-left: 0px;
      }



    .logout{
        position: absolute;
        top: 225px;
        left: 357px;
    }

      .btn3{
        display:inline-block;
        padding:0.5em 2em;
        border:none;
        margin:0.03em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:"arial";
        font-weight:300;
        color:#FDFDFD;
        text-align:center;
        transition: 0.2s;
        background:rgb(123,135,255);
        cursor:pointer;
        font-weight:bold;
        text-transform: uppercase;
        letter-spacing: 0.08em;
      }
      .btn3:hover{
        background:rgb(96,110,255);
      }
      .btn3:active, .btn3:focus{
        background:rgb(195,200,255);
        color:rgb(96,110,255);
      }


